[submodule "tmux-dir/plugins/tpm"]
	path = tmux-dir/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/packages/zsh-syntax-highlighting"]
	path = zsh/packages/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/packages/zsh-autosuggestions"]
	path = zsh/packages/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/packages/zsh-z"]
	path = zsh/packages/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule "zsh/packages/antigen"]
	path = zsh/packages/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
