# Brew lock file
Brewfile.lock.json

# Vim temp dirs
vim/tmp/*
vim/colors/*
vim/undo-history/*

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Old files
*.old

*Session*
