[submodule "vim/plugins/start/vim-fugitive"]
	path = vim/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/plugins/start/vim-gitgutter"]
	path = vim/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
