* {
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
}

#waybar {
  padding: 0 8px;
}

#clock,
#network,
#pulseaudio,
#tray,
#cpu,
#memory,
#temperature {
  padding: 0 8px;
}

window#waybar {
  background: #1d2021;
  color: #ebdbb2;
}
